.user-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: transform 0.1s ease-in-out;
  color: red;
}

.user-card:hover{
    transform: translateX(5px);
}