#card{
    margin: 2rem auto;
    padding: 2rem;
    max-width: 30rem;
    border-radius: 6px;
    background: linear-gradient(#254041, #203031);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    color: aqua;

}

#card h1{
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#card p {
  margin: 0.5rem 0;
}